table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
    min-width: 25px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }

  .blob {
      /* height: 40px; */
      /* width: 40px; */
      max-height: 40px;
      max-width: 40px;
      padding: 5px;
      margin: 5px auto;
  }

  .blob.green {
      background-color: #2ECC71;
      color: white;
  }

  .user-info-wrapper {
      padding: 2px 10px;
      box-sizing: border-box;
  }

  .accordion {
    transition: 0.4s;
  }

  .panel {
      display: none;
  }